.cards {
  display: grid;
  grid-template-columns: 1fr;
  gap: 40px;
  padding: 60px 20px;
}

/* CARD */
.card {
  background: #fff;
  border-radius: 14px;
  overflow: hidden;
  cursor: pointer;
  transition: 0.3s;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
}

/* Efeito hover profissional */
.card:hover {
  transform: translateY(-6px);
  box-shadow: 0 12px 28px rgba(0, 0, 0, 0.12);
}

/* IMAGEM */
.card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

/* TEXTO */
.card h3 {
  padding: 20px;
  font-size: 20px;
  font-weight: 600;
  color: #222;
}

.card {
  text-decoration: none; /* tira linha do link */
  color: inherit; /* mantém cor normal */
  border: none; /* remove borda */
}

.card:focus,
.card:active {
  outline: none; /* remove contorno azul */
}

/* DESKTOP */
@media (min-width: 768px) {
  .cards {
    grid-template-columns: repeat(3, 1fr); /* 3 lado a lado */
    gap: 30px;
    padding: 60px 80px;
  }
}

/* CARD DESTAQUE */
.destaque {
  display: flex;
  flex-direction: column;
}

/* TEXTO */
.card-text {
  padding: 20px;
  text-align: left;
}

.card-text p {
  font-size: 14px;
  color: #555;
}

/* DESKTOP */
@media (min-width: 768px) {
  .destaque {
    grid-column: span 3; /* ocupa largura toda */
    flex-direction: row; /* imagem esquerda, texto direita */
    align-items: center;
  }

  .destaque img {
    width: 50%;
    height: 220px;
  }

  .card-text {
    width: 50%;
  }
}

/* MINI LISTA */
.mini-lista {
  margin-top: 10px;
  padding-left: 18px;
  font-size: 14px;
  color: #555;
}

/* BOTÃO VISUAL */
.ver-mais {
  display: inline-block;
  margin-top: 15px;
  font-weight: 600;
  color: #000;
}

/* HOVER PREMIUM */
.destaque:hover .ver-mais {
  transform: translateX(5px);
}

/* SOMBRA PREMIUM */
.destaque {
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.12);
}
