.footer {
  background: #111;
  color: #fff;
  text-align: center;
  padding: 50px 20px;
}

.footer h3 {
  margin-bottom: 15px;
}

.footer-info p {
  margin: 5px 0;
  font-size: 14px;
}

.social {
  margin: 25px 0;
  display: flex;
  justify-content: center;
  gap: 18px;
}

/* BOTÃO SOCIAL (CÍRCULO) */
.social a {
  width: 42px;
  height: 42px;
  background: #222;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.25s;
}

/* ÍCONE */
.social img {
  width: 20px;
  height: 20px;
  object-fit: contain;
}

/* HOVER */
.social a:hover {
  transform: translateY(-3px);
  background: #333;
}

.copy {
  font-size: 12px;
  opacity: 0.6;
}

.footer-info {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  gap: 6px;
  align-items: center;
}

.contato-item {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 14px;
  text-decoration: none;
  color: #ddd;
  transition: 0.25s;
}

.contato-item:hover {
  color: #fff;
  transform: translateY(-1px);
}

.icon {
  font-size: 16px;
  opacity: 0.75;
}

.footer-grid {
  display: grid;
  gap: 20px;
  margin-bottom: 20px;
}

/* Desktop */
@media (min-width: 768px) {
  .footer-grid {
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    text-align: left;
  }

  .social {
    justify-content: flex-start;
  }
}

.footer-desc {
  font-size: 14px;
  opacity: 0.7;
  margin-top: 5px;
}
