.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  background: #111;
  color: #fff;
  position: relative;
}

.logo {
  margin: 0;
}

.menuIcon {
  font-size: 24px;
  cursor: pointer;
}

.menu {
  position: fixed; /* antes era absolute */
  top: 60px;
  right: 10px;
  background: #222;
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  z-index: 9999; /* faz ficar na frente */
}

.menu a {
  color: #fff;
  text-decoration: none;
}

